name: ci
env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

on:
  push:
    branches: ['*']
    tags: ['v*']
  pull_request:
    branches: ['*']

jobs:
  test:
    name: test
    strategy:
      fail-fast: false
      matrix:
        include:
          - otp: 20.3
            elixir: 1.9.3
          - otp: 21.3
            elixir: 1.10.3
          - otp: 22.3
            elixir: 1.10.3
          - otp: 23.0
            elixir: 1.10.3
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.1
      - uses: actions/setup-elixir@v1.3.0
        with:
          otp-version: '${{matrix.otp}}'
          elixir-version: '${{matrix.elixir}}'
      - name: Install Dependencies
        run: |
          mix local.rebar --force
          mix local.hex --force
          mix deps.get
      - name: Check Formatting
        run: mix format
      - name: Run Tests
        run: mix coveralls.github

  checks:
    name: static checks
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - otp: 23.0
            elixir: 1.10.3
    steps:
      - uses: actions/checkout@v2.3.1
      - uses: actions/setup-elixir@v1.3.0
        with:
          otp-version: '${{matrix.otp}}'
          elixir-version: '${{matrix.elixir}}'
      - name: Cache multiple paths
        uses: actions/cache@v2
        with:
          path: priv/plts
          key: ${{ hashFiles('mix.lock') }}-${{matrix.otp}}-${{matrix.elixir}}
      - name: Install dependencies
        run: mix deps.get
      - name: Run checks
        run: mix check

  docs:
    name: docs
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - otp: 23.0
            elixir: 1.10.3
    steps:
      - uses: actions/checkout@v2.3.1
      - uses: actions/setup-elixir@v1.3.0
        with:
          otp-version: '${{matrix.otp}}'
          elixir-version: '${{matrix.elixir}}'
      - name: Install dependencies
        run: mix deps.get
      - name: Generate docs
        run: |
          mix docs
          test -f doc/index.html && echo "doc/index.html exists."
          test -f doc/hush.epub && echo "doc/hush.epub exists."

  inchci:
    name: inch ci
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - otp: 23.0
            elixir: 1.10.3
    env:
      MIX_ENV: docs
    steps:
      - uses: actions/checkout@v2.3.1
      - uses: actions/setup-elixir@v1.3.0
        with:
          otp-version: '${{matrix.otp}}'
          elixir-version: '${{matrix.elixir}}'
      - name: Install dependencies
        run: mix deps.get
      - name: Submit docs to Inch CI
        run: mix inch.report

  release:
    if: "startsWith(github.ref, 'refs/tags/v')"
    name: release
    strategy:
      matrix:
        include:
          - otp: 23.0
            elixir: 1.10.3
    runs-on: ubuntu-latest
    needs: [test, checks, docs]
    env:
      HEX_API_KEY: ${{ secrets.HEX_API_KEY }}
    steps:
      - uses: actions/checkout@v2.3.1
      - uses: actions/setup-elixir@v1.3.0
        with:
          otp-version: '${{matrix.otp}}'
          elixir-version: '${{matrix.elixir}}'
      - name: Install Dependencies
        run: |
          mix local.rebar --force
          mix local.hex --force
          mix deps.get
      - name: Release
        run: mix hex.publish --yes
