name: ci
env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

on:
  push:
    branches: ["*"]
    tags: ["v*"]
  pull_request:
    branches: ["*"]

jobs:
  test:
    name: test
    strategy:
      fail-fast: false
      matrix:
        include:
          - otp: "24.x"
            elixir: "1.13.x"
          - otp: "25.x"
            elixir: "1.14.x"
          - otp: "25.x"
            elixir: "1.15.x"
          - otp: "26.x"
            elixir: "1.16.x"
          - otp: "27.x"
            elixir: "1.17.x"
          - otp: "27.x"
            elixir: "1.18.x"
          - otp: "28.x"
            elixir: "1.19.x"
    runs-on: ubuntu-latest
    env:
      MIX_ENV: test
    steps:
      - uses: actions/checkout@v4
      - uses: erlef/setup-beam@v1
        with:
          otp-version: "${{matrix.otp}}"
          elixir-version: "${{matrix.elixir}}"
      - name: Install Dependencies
        run: |
          mix local.rebar --force
          mix local.hex --force
          mix deps.get
      - name: Compile
        run: mix compile --warnings-as-errors
      - name: Check Formatting
        run: mix format
      - name: Run Tests
        run: mix coveralls.json
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          files: cover/excoveralls.json

  checks:
    name: static checks
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - otp: "28.x"
            elixir: "1.19.x"
    steps:
      - uses: actions/checkout@v4
      - uses: erlef/setup-beam@v1
        with:
          otp-version: "${{matrix.otp}}"
          elixir-version: "${{matrix.elixir}}"
      - name: Cache multiple paths
        uses: actions/cache@v3
        with:
          path: priv/plts
          key: ${{ hashFiles('mix.*') }}-${{matrix.otp}}-${{matrix.elixir}}
      - name: Install dependencies
        run: mix deps.get
      - name: Run checks
        run: mix check

  docs:
    name: docs
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - otp: "28.x"
            elixir: "1.19.x"
    steps:
      - uses: actions/checkout@v4
      - uses: erlef/setup-beam@v1
        with:
          otp-version: "${{matrix.otp}}"
          elixir-version: "${{matrix.elixir}}"
      - name: Install dependencies
        run: mix deps.get
      - name: Generate docs
        run: |
          mix docs
          test -f doc/index.html && echo "doc/index.html exists."
          test -f doc/hush.epub && echo "doc/hush.epub exists."

  release:
    if: startsWith(github.ref, 'refs/tags/v')
    name: release
    strategy:
      matrix:
        include:
          - otp: "28.x"
            elixir: "1.19.x"
    runs-on: ubuntu-latest
    needs: [test, checks, docs]
    env:
      HEX_API_KEY: ${{ secrets.HEX_API_KEY }}
    steps:
      - uses: actions/checkout@v4
      - uses: erlef/setup-beam@v1
        with:
          otp-version: "${{matrix.otp}}"
          elixir-version: "${{matrix.elixir}}"
      - name: Install Dependencies
        run: |
          mix local.rebar --force
          mix local.hex --force
          mix deps.get
      - name: Release
        run: |
          mix hex.publish --yes
          mix hex.publish docs --yes
